.btn, .splitBtn {
  background-color: #2a2d34;
  color: white;
  font-size: 13px;
  border: none;
  outline: none;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn.selected span {
    color: green
}

a {
    text-decoration: none;
}

.btn span {
    padding-left: 10px;
}

.btn a:visited {
    color: white;
}

.splitContainer {
    width: 100%;
}

.splitBtn {
    width: 80%;
}

.dropdown {
    width: 20%;
    position: absolute;
    display: inline-block;
}

.btn:hover, .dropdown:hover .btn {
  background-color: #171717;
}