.content {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.header {
    margin-left: 200px; /* Same as the width of the sidenav */
    height: 50px;
    background-color: beige;
    color: black;
    font-size: 30px;
}