.feedItem {
	border-bottom: 1px solid gray;
	width: 100%;
}

.feedItem .cell {
	padding-top: 5px;
	padding-bottom: 8px;
}

.feedItem .text {
	padding-left: 20px;
	padding-right: 10px;
}

.feedItem .text p {
	font-size: 13px;
	margin: 0px;
	color: rgba(0,0,0,0.55);
	word-break: break-word;
}

.feedItem .source {
	font-size: 10px;
	text-align: right;
}

.feedItem .published {
	font-size: 10px;
	text-align: center;
}

.feedItem a {
	font-size: 15px;
	word-break: break-word;
	color: #1d1f24;
	text-decoration: none;
	display: block;
}

.feedItem .cell > a:hover {
    text-decoration: underline;
}

.feedItem a:visited {
	color: #747882;
}

.feedItem:nth-child(even) {background: #f9f9f9;}
.feedItem:nth-child(odd) {background: #ffffff}

.feedItem:hover {background: #ece9e9}

@media (max-width: 576px) {
	.feedItem .source {
		padding-left: 20px;
		text-align: left;
	}
	
	.feedItem .cell {
    	padding-top: 0px;
    	padding-bottom: 0px;
	}
}

