.navigation {
    margin: 0;
    padding: 0;
    width: 180px;
    background-color: #2a2d34;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.navigation .nav-header {
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
}

.navigation .nav-header p {
    margin: 0px;
    padding: 7px 0;
}

.nav-header a {
	color: white;
	text-decoration: none;
}

@media (max-width: 576px) {
	.navigation {
		transition: all 0.5s;
		display: none;
		width: 0px;
	}
	
	.navigation.visible {
		transition: all 0.5s;
		display: block;
		width: 180px;
		z-index: 1;
	}
}

